/Fatec-Java/soma-valores/ex/JavaApplication7/nbproject/private/
/Fatec-Java/soma-valores/ex/JavaApplication7/build/
/DevDojo/operadores-relacionais/OperadoresRelacionais/nbproject/private/
/DevDojo/operadores-relacionais/OperadoresRelacionais/build/
/Fatec-Java/Trabalho1/FatecTrabalhoUm/nbproject/private/
/Fatec-Java/Trabalho1/FatecTrabalhoUm/build/
/Fatec-Java/Trabalho1/ExTwo/nbproject/private/
/Fatec-Java/Trabalho1/ExTwo/build/
/Fatec-Java/Trabalho2/ExOne/nbproject/private/
/Fatec-Java/Trabalho2/ExOne/build/
/DevDojo/Condicoes/Aula5EstruturasCond/nbproject/private/
/DevDojo/Condicoes/Aula5EstruturasCond/build/
/Fatec-Java/Dip-Moveis/Ex1/ExMatriz1/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS – LP01/ LP01FatecAds/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS – LP01/ LP01FatecAds/build/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP02/ListaDeExerciciosL02/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP02/ListaDeExerciciosL02/build/
/Fatec-Java/Dip-Moveis/BackEndZsDmManha20221/BackEndZsDmManha20221/nbproject/private/
/Fatec-Java/Dip-Moveis/BackEndZsDmManha20221/nbproject/private/
/DevDojo/Estruturas Condicionais/EstruturasCondicionais/nbproject/private/
/DevDojo/Estruturas Condicionais/EstruturasCondicionais/build/
/DevDojo/Arrays/AulaArrays/nbproject/private/
/DevDojo/Arrays/AulaArrays/build/
/DevDojo/Arrays/ProjetoRobo/nbproject/private/
/Fatec-Java/Dip-Moveis/Pratica/PraticaUm/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/ExerciciosP3/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/ExerciciosP3/build/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/BrinquedoJava/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/ListadeExercicios04FUNCOES/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/ListadeExercicios04FUNCOES/build/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/ListadeExercicios04FUNCOES/dist/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/LISTA_DE_EXERCICIOS_LP05/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP03/LISTA_DE_EXERCICIOS_LP05/build/
/Fatec-Java/LISTA DE EXERCICIOS –LP03/LISTA_DE_EXERCICIOS_LP05/build/
/Fatec-Java/LISTA DE EXERCICIOS –LP03/LISTA_DE_EXERCICIOS_LP05/nbproject/private/
/Fatec-Java/LISTA DE EXERCICIOS –LP05/LISTA_DE_EXERCICIOS_LP05/build/
/Fatec-Java/LISTA DE EXERCICIOS –LP05/LISTA_DE_EXERCICIOS_LP05/nbproject/private/
/DevDojo/introducao/nbproject/private/
/DevDojo/introducao/build/
/DevDojo/ClasseCarro/nbproject/private/
/DevDojo/ClasseCarro/build/
/DevDojo/introducaoMetodos/nbproject/private/
/DevDojo/introducaoMetodos/build/
/Fatec-Java/Dip-Moveis/projetomusica/nbproject/private/
/Fatec-Java/Dip-Moveis/projetomusica/build/
/Fatec-Java/LISTA DE EXERCICIOS –LP05/LISTADEEXERCICIOSLP05/nbproject/private/
/Fatec-Java/LISTADEEXERCICIOSLP05/LISTADEEXERCICIOSLP05/nbproject/private/