/Fatec-Java/soma-valores/ex/JavaApplication7/nbproject/private/
/Fatec-Java/soma-valores/ex/JavaApplication7/build/
/DevDojo/operadores-relacionais/OperadoresRelacionais/nbproject/private/
/DevDojo/operadores-relacionais/OperadoresRelacionais/build/