/Fatec-Java/soma-valores/ex/JavaApplication7/nbproject/private/
/Fatec-Java/soma-valores/ex/JavaApplication7/build/
/DevDojo/operadores-relacionais/OperadoresRelacionais/nbproject/private/
/DevDojo/operadores-relacionais/OperadoresRelacionais/build/
/Fatec-Java/Trabalho1/FatecTrabalhoUm/nbproject/private/
/Fatec-Java/Trabalho1/FatecTrabalhoUm/build/
/Fatec-Java/Trabalho1/ExTwo/nbproject/private/
/Fatec-Java/Trabalho1/ExTwo/build/
/Fatec-Java/Trabalho2/ExOne/nbproject/private/
/Fatec-Java/Trabalho2/ExOne/build/
/DevDojo/Condicoes/Aula5EstruturasCond/nbproject/private/
/DevDojo/Condicoes/Aula5EstruturasCond/build/
/Fatec-Java/Dip-Moveis/Ex1/ExMatriz1/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS – LP01/ LP01FatecAds/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS – LP01/ LP01FatecAds/build/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP02/ListaDeExerciciosL02/nbproject/private/
/Fatec-Java/LISTA DE EXERCÍCIOS –LP02/ListaDeExerciciosL02/build/
/Fatec-Java/Dip-Moveis/BackEndZsDmManha20221/BackEndZsDmManha20221/nbproject/private/
/Fatec-Java/Dip-Moveis/BackEndZsDmManha20221/nbproject/private/